/*! SNS SIDE */
.sns-side {
    /* Font & Text */
    font-family: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(0, 0, 0);
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    word-spacing: 0px;

    /* Color & Background */
    background-attachment: scroll;
    background-color: #875A7B;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(0, 0, 0);

    /* Box */
    height: 315px;
    width: 70px;
    border-top: 5px solid #633657;
    border-right: 0px none rgb(0, 0, 0);
    border-bottom: 5px solid #633657;
    border-left: 5px solid #633657;
    margin: 0px;
    padding: 0px;
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;

    /* Positioning */
    position: fixed;
    top: 180px;
    bottom: 152px;
    right: 0px;
    left: 1274px;
    float: none;
    display: block;
    clear: none;
    z-index: 9999;

    /* List */
    list-style-image: none;
    list-style-type: none;
    list-style-position: outside;

    /* Table */
    border-collapse: collapse;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: fixed;

    /* Miscellaneous */
    overflow: visible;
    cursor: auto;
    visibility: visible;

    /* Effects */
    transform: none;
    transition: all 0s ease 0s;
    outline-offset: 0px;
    box-sizing: content-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.sns-side-title {
    /* Font & Text */
    font-family: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    word-spacing: 0px;

    /* Color & Background */
    background-attachment: scroll;
    background-color: #a3538e;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(255, 255, 255);

    /* Box */
    height: 16px;
    width: 70px;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    margin: 0px 0px 10px;
    padding: 10px 0px;
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;

    /* Positioning */
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    float: none;
    display: block;
    clear: none;
    z-index: auto;

    /* List */
    list-style-image: none;
    list-style-type: none;
    list-style-position: outside;

    /* Table */
    border-collapse: collapse;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: fixed;

    /* Miscellaneous */
    overflow: visible;
    cursor: auto;
    visibility: visible;

    /* Effects */
    transform: none;
    transition: all 0s ease 0s;
    outline-offset: 0px;
    box-sizing: content-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

li.sns {
    /* Font & Text */
    font-family: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(0, 0, 0);
    text-align: left;
    text-indent: -20px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;

    /* Color & Background */
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(0, 0, 0);

    /* Box */
    height: 44px;
    width: 70px;
    border: 0px none rgb(0, 0, 0);
    border-top: 0px none rgb(0, 0, 0);
    border-right: 0px none rgb(0, 0, 0);
    border-bottom: 0px none rgb(0, 0, 0);
    border-left: 0px none rgb(0, 0, 0);
    margin-left: -5px -5px;
    padding-left: -4px;
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;

    /* Positioning */
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    float: none;
    display: list-item;
    clear: none;
    z-index: auto;

    /* List */
    list-style-image: none;
    list-style-type: none;
    list-style-position: outside;

    /* Table */
    border-collapse: collapse;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: fixed;

    /* Miscellaneous */
    overflow: visible;
    cursor: auto;
    visibility: visible;

    /* Effects */
    transform: none;
    transition: all 0s ease 0s;
    outline-offset: 0px;
    box-sizing: content-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*! Footer */
.footer {
    /* Font & Text */
    font-family: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(0, 0, 0);
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    word-spacing: 0px;

    /* Color & Background */
    background-attachment: scroll;
    background-color: #633657;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(0, 0, 0);

    /* Box */
    height: 518px;
    width: 1349px;
    border: 0px none rgb(0, 0, 0);
    border-top: 0px none rgb(0, 0, 0);
    border-right: 0px none rgb(0, 0, 0);
    border-bottom: 0px none rgb(0, 0, 0);
    border-left: 0px none rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;

    /* Positioning */
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    float: none;
    display: block;
    clear: none;
    z-index: 10;

    /* List */
    list-style-image: none;
    list-style-type: none;
    list-style-position: outside;

    /* Table */
    border-collapse: collapse;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: fixed;

    /* Miscellaneous */
    overflow: visible;
    cursor: auto;
    visibility: visible;

    /* Effects */
    transform: none;
    transition: all 0s ease 0s;
    outline-offset: 0px;
    box-sizing: content-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.footer-top-Inner {
    /* Font & Text */
    font-family: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(0, 0, 0);
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;

    /* Color & Background */
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(0, 0, 0);

    /* Box */
    height: 400px;
    width: 1160px;
    border: 0px none rgb(0, 0, 0);
    border-top: 0px none rgb(0, 0, 0);
    border-right: 0px none rgb(0, 0, 0);
    border-bottom: 0px none rgb(0, 0, 0);
    border-left: 0px none rgb(0, 0, 0);
    margin: 0px 94.5px;
    padding: 20px 0px 0px;
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;

    /* Positioning */
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    float: none;
    display: flex;
    clear: none;
    z-index: auto;

    /* List */
    list-style-image: none;
    list-style-type: none;
    list-style-position: outside;

    /* Table */
    border-collapse: collapse;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: fixed;

    /* Miscellaneous */
    overflow: hidden;
    cursor: auto;
    visibility: visible;

    /* Effects */
    transform: none;
    transition: all 0s ease 0s;
    outline-offset: 0px;
    box-sizing: content-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.footer-Title {
    /* Font & Text */
    font-family: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 20.8px;
    font-weight: 700;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: left;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    word-spacing: 0px;

    /* Color & Background */
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(255, 255, 255);

    /* Box */
    height: 24px;
    width: 300px;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    margin: 0px 0px 5px;
}

.parallel {
    /* Font & Text */
    font-family: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(0, 0, 0);
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;

    /* Color & Background */
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(0, 0, 0);

    /* Box */
    height: 40px;
    width: 300px;
    border: 0px none rgb(0, 0, 0);
    border-top: 0px none rgb(0, 0, 0);
    border-right: 0px none rgb(0, 0, 0);
    border-bottom: 0px none rgb(0, 0, 0);
    border-left: 0px none rgb(0, 0, 0);
    margin: 0px 0px 25px;
    padding: 0px;
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    float: none;
    display: flex;
    clear: none;
    z-index: auto;

    /* List */
    list-style-image: none;
    list-style-type: none;
    list-style-position: outside;

    /* Table */
    border-collapse: collapse;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: fixed;

    /* Miscellaneous */
    overflow: visible;
    cursor: auto;
    visibility: visible;

}

.footer-Sitemap {
    /* Font & Text */
    font-family: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(0, 0, 0);
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    word-spacing: 0px;

    /* Color & Background */
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(0, 0, 0);

    /* Box */
    height: 400px;
    width: 800px;
    border: 0px none rgb(0, 0, 0);
    border-top: 0px none rgb(0, 0, 0);
    border-right: 0px none rgb(0, 0, 0);
    border-bottom: 0px none rgb(0, 0, 0);
    border-left: 0px none rgb(0, 0, 0);
    margin: 0px 0px 0px 60px;
    padding: 0px;
    max-height: none;
    min-height: auto;
    max-width: none;
    min-width: auto;

    /* Positioning */
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    float: none;
    display: block;
    clear: none;
    z-index: auto;

    /* List */
    list-style-image: none;
    list-style-type: none;
    list-style-position: outside;

    /* Table */
    border-collapse: collapse;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: fixed;

}

.footer-SubTitle {
    /* Font & Text */
    font-family: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: left;
    vertical-align: baseline;
    word-spacing: 0px;

    background-position: 0% 0%;
    color: rgb(255, 255, 255);

    /* Box */
    height: 18px;
    width: 155px;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 10px 30px 10px 0px;
    padding: 0px 0px 5px;

}

.position {
    display: block;
}

.item {
    /* Font & Text */
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: left;
    vertical-align: baseline;

    /* Color & Background */
    background-attachment: scroll;
    color: rgb(255, 255, 255);

    /* Box */
    height: 15px;
    width: 70px;
}

.white {
    color: rgb(255, 255, 255);

}